Source: anste
Section: admin
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.com>
Build-Depends: cdbs, dh-python, libtrycatch-perl, libtest-class-perl,
               libfile-copy-recursive-perl, libsoap-lite-perl,
               libfile-slurp-perl, libconfig-tiny-perl, libperl6-junction-perl,
               libterm-readline-gnu-perl, libtext-template-perl,
               libdevel-stacktrace-perl, libyaml-libyaml-perl,
               libjson-xs-perl, libattempt-perl, libio-interface-perl,
               libtest-mockmodule-perl, libtest-mockobject-perl,
               libnet-openstack-compute-perl, libnet-openstack-networking-perl
Standards-Version: 3.7.2

Package: anste
Architecture: all
Depends: perl, libtrycatch-perl, libfile-copy-recursive-perl,
         libsoap-lite-perl, libfile-slurp-perl, qemu-kvm, ubuntu-vm-builder,
         libconfig-tiny-perl, libperl6-junction-perl,
         libterm-readline-gnu-perl, libtext-template-perl, libvirt-bin,
         libyaml-libyaml-perl, libjson-xs-perl, sshpass, libattempt-perl,
         libio-interface-perl, libdevel-stacktrace-perl, python-anste,
         libnet-openstack-compute-perl, libnet-openstack-networking-perl (>= 0.2)
Recommends: recordmydesktop
Description: Advanced Network Service Testing Environment
 ANSTE is a tool to easily create, deploy and test network services on complex
 scenarios using virtual machines.
 .
 URL: http://www.anste.org

Package: python-anste
Architecture: all
Depends: python-selenium (>= 2.28.0), phantomjs | chromium-browser | firefox
Description: Advanced Network Service Testing Environment (webdriver wrapper)
 ANSTE is a tool to easily create, deploy and test network services on complex
 scenarios using virtual machines.
 .
 URL: http://www.anste.org
