#!/usr/bin/make -f
# Sample debian/rules that uses debhelper. 
# This file is public domain software, originally written by Joey Hess.
#
# This version is for packages that are architecture independent.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	$(MAKE) cleandist

	dh_clean

install:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) DESTDIR=`pwd`/debian/`dh_listpackages` PREFIX=/usr install
	dh_install

# Build architecture-independent files here.
binary-indep: install
	dh_testdir
	dh_testroot
#TODO	dh_installchangelogs
	dh_installdocs
	dh_installexamples
#TODO	dh_installman
	dh_link
	dh_compress
	dh_fixperms
	dh_perl
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: install
# We have nothing to do by default.

binary: clean binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
