#
# Configuration file for the Xen instance {$hostname}, 
# created by ANSTE on { scalar localtime }.
#

#
#  Kernel + memory size
#
{
    my $kernel = '/boot/vmlinuz-' . `uname -r`;
    chomp($kernel);
    $OUT.= "kernel      = '$kernel'";
}
{
    my $initrd = '/boot/initrd.img-' . `uname -r`;
    chomp($initrd);
    $OUT.= "ramdisk     = '$initrd'";
}
memory      = '{$memory}'

#
#  Disk device(s).
#
root        = '/dev/{$device}1 ro'

{ 
  my $image_vbd = "file:$path/$hostname/disk.img";

  $OUT .= "disk        = [ '$image_vbd,$device" . "1,w' ]";
}

#
#  Hostname
#
name        = '{$hostname}'

#
#  Networking
#
{ if ( $dhcp )
  {
    $OUT .= "dhcp        = 'dhcp'\n";
    $OUT .= "vif         = [ '' ]";
  }    
  else
  {
    $OUT .= "vif         = [ $iface_list ]"; 
  }
}

#
#  Behaviour
#
on_poweroff = 'destroy'
on_reboot   = 'restart'
on_crash    = 'restart'

